# manoalga.lt Scraper

Extract salary information

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Position categories

In [2]:
def extract_categories():
    categories_url = 'https://www.manoalga.lt/en/salaryinfo'
    
    # request the raw html of categories.. check for valid request
    try:
        categories_response = requests.get(categories_url)
        if categories_response.status_code != 200:
            return None
    except categories_response.exceptions.ConnectionError:
        return None

    # parse the html and extract categories data
    categories_soup = BeautifulSoup(categories_response.text, 'html.parser')
    categories_soup = categories_soup.find_all("a", class_="category-full")
    
    categories = []
    for i in categories_soup:
        if i:
            name = i.find('h3').get_text()
            url = i.get('href')
            categories.append([name] + [url])

    categories_column_names = ['category_name', 'category_url']
    categories = pd.DataFrame(categories, columns=categories_column_names)
    categories.to_csv('category_list.csv', index=False)
    return categories

# Positions

In [13]:
def extract_positions(category):

    # request the raw html of categoy positions .. check for valid request
    try:
        response_category = requests.get(category)
        if response_category.status_code != 200:
            return None
    except response_category.exceptions.ConnectionError:
        return None

In [ ]:
# get min and max salary for category
category_soup = BeautifulSoup(response_category.text, 'html.parser')
positions_soup = category_soup.find_all("a", class_="category-full")
category_salary_range = category_soup.find_all("span", class_="value")
categories_salary_min = category_salary_range[0].get('data-monthly-value')
categories_salary_max = category_salary_range[1].get('data-monthly-value')
categories.loc[0, 'min_salary'] = float(categories_salary_min)
categories.loc[0, 'max_salary'] = float(categories_salary_max)
categories['avg_salary'] = (categories['min_salary'] + categories['max_salary'])/2
categories.loc[[0]]

In [ ]:
positions = []

for i in positions_soup:
    if i:
        text = i.find('h3').get_text()
        url = i.get('href')
        positions.append([text] + [url])
positions_column_names = ['position_name', 'position_url']
positions = pd.DataFrame(positions, columns=positions_column_names)

In [ ]:
# request the raw html of position
response_position = requests.get(positions['position_url'][0])

In [ ]:
# get min and max salary for position
position_soup = BeautifulSoup(response_position.text, 'html.parser')
position_salary_range = position_soup.find_all("span", class_="value")
position_salary_min = position_salary_range[0].get('data-monthly-value')
position_salary_max = position_salary_range[1].get('data-monthly-value')
positions.loc[0, 'min_salary'] = float(position_salary_min)
positions.loc[0, 'max_salary'] = float(position_salary_max)
positions['avg_salary'] = (positions['min_salary'] + positions['max_salary'])/2
positions.loc[[0]]

# Data scraping functions

In [11]:
def main():
    categories=extract_categories()
    extract_positions(categories['category_url'][0]

In [12]:
main()

,category_name,category_url
0,Administration,https://www.manoalga.lt/en/salaryinfo/administ...
1,"Agriculture, Food Industry",https://www.manoalga.lt/en/salaryinfo/agricult...
2,Arts & Culture,https://www.manoalga.lt/en/salaryinfo/arts-cul...
3,Banking,https://www.manoalga.lt/en/salaryinfo/banking
4,Car Industry,https://www.manoalga.lt/en/salaryinfo/car-indu...
5,Chemical Industry,https://www.manoalga.lt/en/salaryinfo/chemical...
6,Commerce,https://www.manoalga.lt/en/salaryinfo/commerce
7,Construction & Real Estate,https://www.manoalga.lt/en/salaryinfo/construc...
8,Customer Support,https://www.manoalga.lt/en/salaryinfo/customer...
9,"Economy, Finance, Accountancy",https://www.manoalga.lt/en/salaryinfo/economy-...
10,"Education, Science & Research",https://www.manoalga.lt/en/salaryinfo/educatio...
11,Electrical & Power Engineering,https://www.manoalga.lt/en/salaryinfo/electric...
12,General labour,https://www.manoalga.lt/en/salaryinfo/general-...
13,Human Resources,https://www.manoalga.lt/en/salaryinfo/human-re...
14,Information Technology,https://www.manoalga.lt/en/salaryinfo/informat...
15,Insurance,https://www.manoalga.lt/en/salaryinfo/insurance
16,"Journalism, Printing Arts & Media",https://www.manoalga.lt/en/salaryinfo/journali...
17,Law & Legislation,https://www.manoalga.lt/en/salaryinfo/law-legi...
18,Leasing,https://www.manoalga.lt/en/salaryinfo/leasing
19,Management,https://www.manoalga.lt/en/salaryinfo/management
20,"Marketing, Advertising, PR",https://www.manoalga.lt/en/salaryinfo/marketin...
21,Mechanical Engineering,https://www.manoalga.lt/en/salaryinfo/mechanic...
22,Medicine & Social Care,https://www.manoalga.lt/en/salaryinfo/medicine...
23,"Mining, Metallurgy",https://www.manoalga.lt/en/salaryinfo/mining-m...
24,Pharmaceutical Industry,https://www.manoalga.lt/en/salaryinfo/pharmace...
25,Production,https://www.manoalga.lt/en/salaryinfo/production
26,"Public Administration, Self-governance",https://www.manoalga.lt/en/salaryinfo/public-a...
27,Quality Management,https://www.manoalga.lt/en/salaryinfo/quality-...
28,Security & Protection,https://www.manoalga.lt/en/salaryinfo/security...
29,Service Industries,https://www.manoalga.lt/en/salaryinfo/service-...
30,"Technology, Development",https://www.manoalga.lt/en/salaryinfo/technolo...
31,Telecommunications,https://www.manoalga.lt/en/salaryinfo/telecomm...
32,"Textile, Leather, Apparel Industry",https://www.manoalga.lt/en/salaryinfo/textile-...
33,Top Management,https://www.manoalga.lt/en/salaryinfo/top-mana...
34,"Tourism, Gastronomy, Hotel Business",https://www.manoalga.lt/en/salaryinfo/tourism-...
35,"Translating, interpreting",https://www.manoalga.lt/en/salaryinfo/translat...
36,"Transport, Haulage, Logistics",https://www.manoalga.lt/en/salaryinfo/transpor...
37,"Water Management, Forestry, Environment",https://www.manoalga.lt/en/salaryinfo/water-ma...
38,Wood Processing Industry,https://www.manoalga.lt/en/salaryinfo/wood-pro...